<div class="new-session-form">
  <h2 class="welcome-header">Guardian</h2>
  <h3 class="heading">User Login</h3>
  <p class="login-prompt">Please enter the following information to login to your account:</p>
  <%= render '/errors' %>
  <div>
    <%= bootstrap_form_tag url: '/sessions' do |f| %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <%= f.submit "Login"%>
    <% end %><br>
    <div class="login-or-reg-link">
      <p class="index-prompt">New to Guardian? <%= link_to " Sign Up", new_user_path, remote: true, style: "font-size: small" %></p>
    </div>
  </div>
</div>
