<div>
  <%= render '/errors' %>

  <%= form_for @note, url: guardian_profile_note_path do |f| %>
    <p>
      <%= f.hidden_field :guardian_id, {:value => @guardian.id} %>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body, cols: 40, rows: 10) %>
    </p>

    <p>
      <%= f.submit "Post Note" %>
    </p>
  <% end %>
</div>
