<div>
  <%= render '/errors' %>

  <%= bootstrap_form_for [:guardian_profile, @note] do |f| %>
      <%= f.hidden_field :guardian_id, {:value => @guardian.id} %>
      <%= f.text_field :title %>
      <%= f.text_area(:body, cols: 40, rows: 10) %>
      <%= f.submit "Post Note" %>
  <% end %>
</div>
