<div class="user-show">
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <h1> <%= @user.first_name %>'s Guardians </h1>
    <div class="col-lg-6 col-lg-offset-3 text-center">
      <input id="speech" type="text">
      <button id="rec" class="btn">Speak</button>
      <div id="spokenResponse" class="spoken-response">
        <div class="spoken-response__text"></div>
      </div>
    </div>
    <%= link_to "Add Guardian", new_guardian_profile_path, style: "font-size: large" %>
  </div>
  <div class="col-lg-6 col-lg-offset-3 text-center">
    <% @guardians.each do |guardian| %>
      <h3><%= link_to guardian.title, guardian_profile_path(guardian)%></h3>
      <%= image_tag guardian.image.url, protocol: "https", class: "avatar-image" %>
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <%= link_to "Edit", edit_guardian_profile_path, style: "font-size: xx-small" %>
      </div>
    <% end %>
  </div>
</div>
