<div class="new-guardian-form">
  <h3>New Guardian</h3>
  <%= render '/errors' %>
  <%= bootstrap_form_for @guardian do |f| %>
    <%= f.hidden_field :user_id, {:value => current_user.id} %>
    <%= f.text_field :title %>
      <% if @guardian.image.exists? %>
        <%= image_tag @guardian.image.url(:thumb), class: "form-preview-image" %>
      <% end %>
    <%= f.file_field :image%>
    <%= f.submit "Add Guardian" %>
  <% end %>
</div>
