<h1>Edit Guardian</h1>

<%= render '/errors' %>

<div>
  <%= form_for @guardian, {url: guardian_profile_path, method: :put} do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title%>
    </p>

    <p>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>


