<div class="guardian-show">
  <div></div>
  <div class="col-ms-6">
    <h1> <%= @guardian.title %> <%= link_to "mode_edit", edit_guardian_profile_path(@guardian), class: "material-icons" %>
        <%= link_to "delete", guardian_profile_path(@guardian), data: {:confirm => 'Are you sure?'}, method: "delete", class: "material-icons" %></h1>
        <%= image_tag @guardian.image.url, protocol: "https", class: "avatar-image" %>
  </div>

  <h2>Memories <%= link_to "note_add", new_guardian_profile_memory_path(@guardian), class: "material-icons" %></h2>
  <div class="col-ms-6">
    <% @memories.each do |memory| %>
        <h4><%= memory.description %> <%=link_to "mode_edit", edit_guardian_profile_memory_path(@guardian, memory), class: "material-icons" %>
          <%= link_to "delete", guardian_profile_memory_path(@guardian, memory), data: {:confirm => 'Are you sure?'}, method: "delete", class: "material-icons" %></h4>
        <p><%= memory.formatted_date %></p>
        <%= audio_tag memory.audio.url, controls: true, autoplay: false, protocol: "https", class: "audio-controls" %>
    <% end %>
  </div>

  <div>
    <h2>Notes <%= link_to "note_add",new_guardian_profile_note_path(@guardian), class: "material-icons" %></h2>

    <% @notes.each do |note| %>
      <h4><%= link_to note.title, guardian_profile_note_path(@guardian, note) %></h4>
      <p><%= note.body %></p>
    <% end %>
  </div>


</div>
