<h1> <%= @guardian.title %> </h1>

<%= link_to "Add Memory", new_guardian_profile_memory_path(@guardian) %>
<br>
<br>

<% @memories.each do |memory| %>
  <div>
    <p><%= memory.description %></p>
    <p><%= memory.audio_recording %></p>
    <p><%= memory.formatted_date %></p>
  </div>
<% end %>
