<div class="edit-memory-form">
  <h3>Edit Memory</h3>
  <%= render '/errors' %>
  <%= bootstrap_form_for [:guardian_profile, @memory], {url: guardian_profile_memory_path, method: :put} do |f| %>
      <%= f.text_area :description %>
      <%= f.date_field :date %>
      <%= f.submit "Update" %>
  <% end %>
</div>
