<div class="new-memory-form">
  <h3>New Memory</h3>
  <%= render '/errors' %>
  <%= bootstrap_form_for [:guardian_profile, @memory] do |f| %>
    <%= f.hidden_field :guardian_id, {:value => @guardian.id} %>
    <%= f.text_field :description %>
    <%= f.file_field :audio %>
    <%= f.date_field :date %>
    <%= f.submit "Add Memory" %>
  <% end %>
</div>

