<h1>New Memory</h1>

<%= render '/errors' %>

<%= form_for [:guardian_profile, @memory] do |f| %>
  <p>
    <%= f.hidden_field :guardian_id, {:value => :guardian_profile_id} %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :audio_recording %>
    <%= f.text_field :audio_recording %>
  </p>

  <p>
    <%= f.label :audio %>
    <%= f.file_field :audio %>
  </p>

  <p>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </p>

  <p>
    <%= f.submit "Add Memory" %>
  </p>
<% end %>

