<!DOCTYPE html>
<html>
<head>
  <title>Guardian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

  <header>
    <h1>Guardian</h1>
      <nav class="main-page-nav">
        <ul>
          <% if logged_in? %>
            <li> <%= link_to "Home", user_path(current_user) %>  </li>
            <li> <%= link_to "Logout", logout_path %></li>
          <% end %>
        </ul>
      </nav>
  </header>

<%= yield %>

</body>
</html>
